* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Merriweather", serif;
  font-weight: 900; */
}

.main-container {
  background-color: #e4eaf2;
}

.content-container {
  padding: 20px;
  min-height: calc(100vh - 200px);
}
